*{
    margin: 0;
    padding: 0;
}
header{
    background-color: rgb(32, 32, 133);
    width: 100%;
}
.title{
    text-align: center;
    color: white;
    margin: 0;
}
.bt{
    display: flex;
    margin-right:0;
};
.logo_and_slogan h2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: blanchedalmond
}
main{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center; /* добавляет вертикальное выравнивание */
}
.main_container{
    width: 70%;
    height: 80vh;
    background-color: dodgerblue;
}