*{
    margin: 0;
    padding: 0;
}
header{
    background-color: rgb(35, 35, 65);
    z-index: 10;
    height: 100px;
}
body{
    background-color: rgb(69, 81, 114);
}
.title{
    text-align: center;
    color: white;
    margin: 0;
}
.bt{
    display: flex;
    margin-right:0;
};
.logo_and_slogan h2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: blanchedalmond
}
main{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center; /* добавляет вертикальное выравнивание */
}
.main_container{
    width: 70%;
    height: 80vh;
    background-color: dodgerblue;
}
.links{
    display: flex;
    flex-direction: row;
}